body {
  font-family: "Lato", "sans-serif";
  color: #333333;
  background-image:url(../img/bg.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: white;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(159, 65, 242, 0.8);
  width: 100%;
  height: 100%;
}

.gif {
    width: 4em;
}

h1 {
  color: white;
  text-align: center;
  font-size: 2em;
  width: 40vw;
  padding: 0.5em;
  font-weight: normal;
  font-family: "Leckerli One", sans-serif;
}

p {
    padding: 1em;
}

form {
    display: flex;
    flex-direction: column;
    width: 40%;
}

legend {
  color: white;
  font-weight: 800;
  font-size: 1em;
  margin-bottom: 0.6em;
  display: flex;
  padding-bottom: 1em;
}

input {
    font-family: "Lato", "sans-serif";
    font-size: 1em;
    margin-bottom: 1em;
    margin-top: 0.3em;
}

input[type="text"] {
    padding-left: 0.3em;
}

input {
    width: 100%;
    border: none;
    background: rgba(255, 255, 255, 0.3);
    height: 2em;
    box-sizing: border-box;
    border-radius: 0.1em;
    color: white;
}

label {
    color: white;
    font-size: 0.9em;
}

input[type="submit"] {
  background: none;
  border: 0.2em solid white;
  color: white;
  text-transform: uppercase;
  font-size: 0.8em;
  height: 3em;
  box-sizing: border-box;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
