<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8">
      <title>
        Mystery box
      </title>
      <link href="/css/style.css" rel="stylesheet"/>
    </meta>
  </head>
  <body>
    <form method="post" action="/user/add">
      <label for="">
        Vier-cijferige Box-ID
      </label>
      <input enctype="multipart/form-data" id="box-id" name="boxid[value]" placeholder="Box ID" type="text" required>

      <label for="">
        Naam
      </label>
      <input enctype="multipart/form-data" id="userInput" name="name[value]" placeholder="Naam" type="text" required>
        <label for="">
          Kleur
        </label>
        <input enctype="multipart/form-data" id="color-input" name="color[value]" placeholder="color" type="color">

        <input type="submit" value="register">
    </form>
    <script defer="" src="/scripts/index.js">
    </script>
  </body>
</html>


