<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>
        Registreer box
      </title>
      <link href="/css/style.css" rel="stylesheet"/>
  </head>
  <body>
    <h1>Kan ik een korte broek aan?</h1>
    <form method="post" action="/user/add">
     <legend>Registreer</legend>
      <label for="">
        Vier-cijferige Box-ID
      </label>
      <input enctype="multipart/form-data" id="box-id" name="boxid[value]" placeholder="1D75" type="text" required>

      <label for="">
        Naam
      </label>
      <input enctype="multipart/form-data" id="userInput" name="name[value]" placeholder="Chantal" type="text" required>
        <label for="">
          Kleur
        </label>
        <input enctype="multipart/form-data" id="color-input" name="color[value]" placeholder="color" type="color">

        <input type="submit" value="Registreer">
    </form>
    <script defer="" src="/scripts/index.js">
    </script>
  </body>
</html>


